{% extends "brands.html" %}
{% block brandsop %}
<div class="container">
      <div class="starter-template">
        <div class="row" style="height:100vh;">
                <div class="col-md-10 col-md-offset-1">
                    {% if filter_check=="failed" %}
                        No results, please check your filters
                    {% else %}
                        {% if brands=="" %}
                            Please specify a brand name.
                        {% else %}
                            {% if brand_check=="failed" %}
                                Sorry, we don't have {{brands}} in our database! :( 
                            {% else %}
                                <table class="table">
                                    <font size="5">Found {{nres}} results. Displaying {{sample_size}} random samples.</font><br><br>
                                    {% for val in output %}
                                    <div class="row">
                                        {% for v in val %}
                                        <div class="col-md-4">
                                            {{v.title}}<br>
                                            Channel: <a href="{{v.channel_link}}">{{v.channel_name}}</a><br>
                                            Hits: {{v.count}}<br>
                                            <iframe width="240" height="240"
                                            src="{{v.emb_link}}">
                                            </iframe>
                                        </div>
                                        {% endfor %}
                                    </div>
                                        <br><br>
                                    {% endfor %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
        </div>
      </div>

    </div>
{% endblock %}
