{% extends "base.html" %} <!--this means that you are extending the base tempate -->
{% block nav_active_demo %}active{% endblock %}
{% block brands %} <!-- this is the name of the block below -->
        <div class="row" style="height:100vh;">
                <div class="col-md-4 col-md-offset-4" style="margin-top:10vh;">
                        <!--<form action="demo" method="POST">-->
                        <form method="POST" id="myform" action="demo">
<!-- action is the html template that will return the result to this input query -->
                                <div class="form-group text-center">
                                        <label style="font-weight:300; font-size:36px;">type in a brand name</label>
                                        <br /><br />
                                        <input list="brands_listing" type="text" class="form-control" id="brandsid" name="brandsid" value="{{ brands|safe }}" placeholder="brand names, e.g. iPod, Amazon.com, BMW">
                                        <datalist id="brands_listing">
                                        {% for val in brands_listing %}
                                            <option value="{{val}}">
                                        {% endfor %}
                                        </datalist>
                                        <input type="text" class="form-control" id="brandsid" name="brandsid_keys" value="{{ brands_keys|safe }}" placeholder="key words, e.g. blue, S3, i3">

                                      <label for="v">Views</label>
                                      <input type="radio" name="sort_id" id="v" value="v" {{ v|safe }}>
                                      <label for="s">Subscribers</label>
                                      <input type="radio" name="sort_id" id="s" value="s" {{ s|safe }}><br>
                                      <input type="number" id="brandsid" name="num" value="{{ num|safe }}" min="0" placeholder="e.g. 10, 100, 1000"><br><br>
                                      <button type="submit" value="Send" name="brandsid-container" class="btn btn-default id-submit">Search</button>
                                      <input type="button" id="downBtn" class="btn btn-default" value="Download"/>
                                </div>
                        </form>
                </div>
        {% block brandsop %}{% endblock %}
        </div>
<script>
var form = document.getElementById('myform');
form.onsubmit = function() {
    form.target = '_self';
    form.action = '/demo';
    };
document.getElementById('downBtn').onclick = function() {
    form.action = '/download';
    form.target = '_blank';
        form.submit();
    }
</script>
{% endblock %}
