{% extends "base.html" %} <!--this means that you are extending the base tempate -->
{% block nav_active_contact %}active{% endblock %}
{% block contact %} <!-- this is the name of the block below -->
    <div class="container">
      <div class="starter-template">
        <h1><b>Pedro Moy</b></h1>
        <h3>email 1: pmoy@live.com</h3>
        <h3>email 2: phrmoy@gmail.com</h3>
        <h3>mobile: (508) 933-9351</h3>
        <h3><a href="https://www.linkedin.com/in/pedromoy" target="_blank">linkedin</a></h3>
      </div>
    </div><!-- /.container -->
{% endblock %}
