{% extends "base.html" %} <!--this means that you are extending the base tempate -->
{% block nav_active_home %}active{% endblock %}
{% block index %} <!-- this is the name of the block below -->
    <div class="container">

      <div class="starter-template">
        <h1><b>themidgame-tube</b></h1>
        <h3>a data platform for finding YouTube influencers on brand names</h3>
        <br>

        <p class="text-left" style="font-size:20px"><i>themidgame-tube</i> is a highly scalable data platform built on the top of Amazon's Elastic MapReduce (EMR) with the purpose of discovering YouTube influencers on brand names. For more information about the platform's structure and performance, see <a href="https://bitbucket.org/insight2themidgame/themidgame-tube/src" target="_blank">source code</a> or <a href="http://www.slideshare.net/PedroMoy/themidgametubeslides" target="_blank">presentation slides</a>.</p> <br>

        <p class="text-left" style="font-size:20px">As a proof of concept, a few thousand brand names were scraped off the web and YouTube searches were stored in the platform along with some data from the YouTube's API and transcripts. Here, a simple word frequency query can be done on the different YoutTube videos given a brand name search result to pinpoint the right content, and potentially retrieve a list of influential YouTube channels on the subject matter. See demo below.</p><br>

        <iframe width="400" height="400" src="http://www.youtube.com/embed/GbsdevGqby4" allowfullscreen></iframe><br><br>

        <p class="text-left" style="font-size:20px">The demo above showed a query that returns "puma" related YouTube videos containing at least two instances of the word "shoes" and an instance of the word "soccer" in the transcripts having at least 250 thousand channel subscribers. This demo's query was made against billions of rows from a distributed database.</p><br>
      </div>
    </div><!-- /.container -->
{% endblock %}
