{% extends "base.html" %}
{% block nav_active_brands %}active{% endblock %}
{% block rbrands %}
<div class="container">
      <div class="starter-template">
                <h1>Available Brand Names</h1><br><br>
                {% for val in output %}
                    <font size="5">{{val}}</font><br>
                {% endfor %}
                <br>
    </div>
</div>
{% endblock %}
